@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
    /* Chrome, Safari, Opera (WebKit 기반 브라우저) */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* IE, Edge, Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}